flask==3.0.0
gunicorn==21.2.0
opencv-python-headless
numpy
Pillow
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
ultralytics
easyocr